* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .main-title {
    display: block;
    margin-bottom: 50px;
    font-family: sans-serif;
  }
  .image-container {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
    }
  }
}